
@media (max-width: 411px) {

    .showcase {
        text-align: center;
    }

    #showcase h1 {
        font-size: 2.7rem;
    }

    .sub-title {
        font-size: 1.5rem;
        font-family: sans-serif;
    }

    .skills {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
   .showcase {
       width: 100%;
   }

   .showcase h1 {
       font-size: 3.5rem;
   }

   .skills {
       display: grid;
       grid-gap: 10px;
       grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   }

}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
    #showcase {
        width: 100%;
    }
    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        align-items: flex-start;
        margin: 0;
        
    }

    .about .profile_pic {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .about img {
        width: 50%;
        padding: 60px 0;
    }

    .about .about_me {
        margin: 0;

    }

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-items: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  
}