body {
    
    font-family: Lato, sans-serif;

}

.container {
    overflow: hidden;
}

header {
    background: url(img/b4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}



.overlay {
    background: rgb(0, 0, 0,0.8);
    min-height: 100vh;
    max-width: 100%;
    padding-top: 1em;
}

h1 {
    font-size: 4rem;
}

img {
    width: 100%;
}

p {
    font-size: 1.5rem;
}

.btn {
    color: black;
    font-weight: 600;
    background:rgb(29, 247, 29);
    border: rgb(29, 247, 29) 2px solid;
    
}

.btn:hover {
    color: rgb(255, 255, 255, 0.8);
    background: transparent;
    transition: background ease-in 1s;
}

.highlight {
    color: rgb(29, 247, 29);
}

/* .current {
    border-bottom: 2px solid white;
    font-weight: bold;
} */


.nav-item:hover {

    border-bottom: 2px solid rgb(255, 255, 255, 0.8);
    font-weight: bold;

}



.header {
    display: flex;
    justify-content: space-between;
}

#showcase {
    margin-top: 220px;
}

.line-showcase {
    background:rgb(29, 247, 29);
    padding: 0.5;
}

/* style="font-size: 2rem; font-weight: 300; color: rgb(29, 247, 29);" */

.sub-title {
    font-size: 2rem;
    font-weight: 300;
    color:rgb(29, 247, 29);
}


#about {
    background: rgb(0, 0, 0,0.9);
    color: rgb(255, 255, 255, 0.8);
    padding: 3em;
}

.about img {
    border-radius: 50%;
}

.about p {
    font-size: 1.125rem;
}


.about {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 7em;
    
}

.about-container {
    padding: 60px 0;
}

.col1 {
    display: flex;
    align-items: center;
}

.col2 {
    margin-top: 2em;
}

#skills {
    background: rgba(1, 27, 13, 0.9);
    color: rgb(255, 255, 255, 0.8);
    padding: 3em;

}

.skills {
    margin-top: 5em;
    min-height: 400px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    align-items: center;
    justify-items: center;

}

.skills img {
    width: 100%;
}

.skills img:hover {
    width: 250px;
    transition: width 2s;
}

#projects {
    background: rgb(0, 0, 0, 0.9);
    color: rgb(255, 255, 255, 0.8);
    padding: 3em;
}

.projects {
    margin-top: 5em;
    min-height: 400px;

}

#contacts {
    background: rgba(1, 27, 13, 0.9);
    color: rgb(255, 255, 255, 0.8);
    padding: 3em;
}

.contacts {
    margin-top: 5em;
    min-height: 400px;
}


.contact-text p{
    font-size: 1.3rem;
}

.contact-text .fa {
    color: rgb(29, 247, 29);
    margin-right: 1em;
    padding-right: .5em;
}


footer {
    background: rgb(0, 0, 0, 0.9);
    color: rgb(255, 255, 255, 0.8);
    padding: 2em;
}



